.external-links-form-container {
    width: 50%;
    background-color: #2f2f3183;
    padding: 1.5em;
    border-radius: 20px;
    margin-bottom: 2em;
}

.external-links-form-container h3 {
    color: var(--text-secondary);
}


.subtitle-text p {
    font-size: 0.8em;
    color: rgb(152, 152, 152);
    margin-bottom: 2em;
}

.form-and-button-container {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 20px ;
}

.form-and-button-container svg {
    margin: 0 !important;
    transition: all 0.3s ease;
    cursor: pointer;
}

.form-and-button-container svg:hover {
    /* filter: brightness(1.3); */
    color: var(--icon-secondary);
}

.form-and-button-container form {
    flex: 1;
}

.form-and-button-container .dashboard-button {
    align-self: flex-end;
    padding: 8px 16px !important;
}

.external-links-form-container form fieldset {
    border-radius: 18px;
    border-color: #4d4d53;
    width: 100%;
    transition: all 0.4s ease;
}

.external-links-form-container form fieldset:hover {
   border-color: rgba(255, 255, 255, 0.491);
   color: white
}

.external-links-form-container form fieldset:focus-within {
    border-color: var(--icon-secondary); /* Changes the border color */
    color: var(--icon-secondary);
}

.external-links-form-container form fieldset legend {
    font-size: 0.7em;
}

.external-links-form-container h3 {
    margin: 0;
}

.external-links-form-container input {
    width: 100%;
    background: none;
    border: none;
    outline: none;
    color: var(--text-secondary);
    font-size: 1em;
}

.error-p {
    color: red;
    font-size: 0.8em;
    line-height: 20px;
    margin: 0;
    position: relative;
    left: 3px;
    padding: 3px 0;
}

.external-links-list {
    margin-top: 1em;
}

.external-links-list .external-link-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    font-size: 0.8em;
    margin: 0 !important;
    padding: 0 !important;
    line-height: 8px;
}

.external-link-row div {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 7px;
    max-width: 90%; /* Ensure there's a width constraint */

}

.external-link-row div p {
    line-height: 16px;
    margin: 8px 0;
    white-space: nowrap; /* Ensures text in the paragraph doesn’t wrap */
    overflow: hidden; /* Required for ellipsis */
    text-overflow: ellipsis; /* Shows the ellipsis */
}

.external-link-row>svg{
    position: relative;
    right: 4px;
}
