#catalog-container {
    display: flex;
    flex-direction: column;
    width: calc(100% -10em);
    height: 100vh;
    position: fixed;
    margin: 0;
    font-family: inherit;
    color: var(--text-primary);
    background-color: var(--bg-primary);
}



/* TRACK TABLE */

.tracks-table {
    margin: 0px auto !important;
    width: 80%;
    border-collapse: collapse;
    font-size: 1em;
    text-align: left;
    border-radius: 0px 4px 0px 4px;
    table-layout: fixed;
    overflow: hidden;
}

.tracks-table thead {
    display: table;
    width: 100%;
    table-layout: fixed;
    line-height: 25px;
}

.tracks-table tbody {
    display: block;
    max-height: 35vh;
    overflow-y: scroll;
    width: 100%;
}

.tracks-table thead tr {
    color: #6b72807d;
}
.tracks-table th{
    font-weight: 500 !important;
}

.tracks-table th,
.tracks-table td {
    padding: 12px 15px;
    text-align: left;
    text-overflow: ellipsis;
}

.tracks-table tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
    transition: background-color, color 0.4s ease;
    border-bottom: 1px solid #37415179;
    line-height: 27px;
}


.tracks-table tbody tr:hover {
    background-color: #202a372d;
}

.tracks-table tbody .active-track {
    filter: opacity(1) brightness(0.9) grayscale(20%);
    color: var(--text-secondary);
    animation: pulse 2.5s infinite;
}

@keyframes pulse {
    0% {
      background-color: rgba(55, 41, 41, 0.051);
      color: rgba(255, 200, 200, 0.3);
    }
    50% {
      background-color: rgba(255, 100, 255, 0.12);
      color: rgb(200, 153, 217);
    }
    100% {
      background-color: rgba(55, 41, 41, 0.051);
      color: rgba(255, 200, 200, 0.3);
    }
  }

#track-row-play-icon .play-background {
    background: linear-gradient(to right, #de5dbb, #5b0845);
    border-radius: 50%;
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#track-row-play-icon .play-background:hover {
    filter: brightness(1.2);
}

#track-row-play-icon svg{
    cursor: pointer;
    color: white;
}

/* table columns resizing */
.tracks-table td:nth-child(1),
.tracks-table th:nth-child(1) {
    width: 3%;

}

.tracks-table td:nth-child(2),
.tracks-table th:nth-child(2) {
    white-space: nowrap;
    width: 40%;
    overflow: hidden;
    padding-left: 25px;
}

.tracks-table td:nth-child(3),
.tracks-table th:nth-child(3) {
    white-space: nowrap;
    width: 10%;
}

.tracks-table td:nth-child(4),
.tracks-table th:nth-child(4) {
    white-space: nowrap;
    width: 10%;
}

.tracks-table td:nth-child(5),
.tracks-table th:nth-child(5) {
    white-space: nowrap;
    width: 5%;
}

/* LOADING */
.catalog-loading-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 0;
    gap: 1rem;
}

.catalog-loading-icon span {
    font-size: 1.1rem;
}

.loading-icon {
    width: 40px;
    height: 40px;
    animation: rotate 1s linear infinite
}

/* SCROLLBAR */
/* Custom scrollbar styles */
.tracks-table tbody::-webkit-scrollbar {
    width: 3px;
}

.tracks-table tbody::-webkit-scrollbar-thumb {
    background-color: rgb(146, 133, 133);
}

.tracks-table tbody::-webkit-scrollbar-track {
    background: transparent;
}

/* Ensure scrollbar is visible */
.tracks-table tbody::-webkit-scrollbar:horizontal {
    height: 8px;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


/* AUDIO PLAYER */

.audio-player-container {
    position: relative;
    width: 80%;
    margin-bottom: 10px;
    align-self: center;
    margin: 0 auto 0 !important;
    background-color: #111827a2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    max-height: 30vh;
}

.title-x-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 0;
    margin-bottom: 10px;
    border-radius: 10px 10px 0px 0px;
}

#audio-player-track-title {
    padding: 15px 4px;
    margin-left: 20px;
    height: min-content;
    color: rgb(200, 153, 217);
}

.close-audio-player-x {
    cursor: pointer;
    padding: 15px;
    text-align: right;
}

.close-audio-player-x:hover {
    filter: brightness(0.7);
}

#waveform {
    margin: 0 20px;

}

.player-controls {
    display: flex;
    justify-items: center;
    align-items: center;
    margin: 10px 20px;
    gap: 20px;
    padding: 5px 0 20px;
}

.player-controls .play-background {
    background: linear-gradient(to right, #de5dbb, #8f096b);
    border-radius: 50%;
    height: 45px;
    width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.player-controls #player-playpause {
    display: flex;
    align-items: center;
    justify-content: center;
}
.player-controls #player-timeline {
    color:rgb(200, 153, 217);
}



/* MEDIA SCREEN WIDTH */

@media screen and (width < 950px) {
    .tracks-table td:nth-child(2),
    .tracks-table th:nth-child(2) {
        width: 23%;
    }
    .tracks-table td:nth-child(3),
    .tracks-table th:nth-child(3) {
        width: 7%;
    }
    .tracks-table td:nth-child(4),
    .tracks-table th:nth-child(4) {
        width: 7%;
    }
}


@media screen and (width < 710px) {
    .tracks-table td:nth-child(1),
    .tracks-table th:nth-child(1) {
        width: 5%;
    }

    .tracks-table td:nth-child(3),
    .tracks-table th:nth-child(3) {
        display: none;
    }
    .tracks-table td:nth-child(4),
    .tracks-table th:nth-child(4) {
        display: none;
    }
  }
