#catalog-container {
    display: flex;
    flex-direction: column;
    width: calc(100% -10em);
    height: 100%;
    position: fixed;
    margin: 0;
    font-family: inherit;
    color: var(--text-primary);
    background-color: var(--bg-primary)
}



/* TRACK TABLE */

.tracks-table {
    margin: 0px auto !important;
    width: 80%;
    border-collapse: collapse;
    font-size: 1em;
    text-align: left;
    border-radius: 0px 4px 0px 4px;
    table-layout: fixed;
    overflow: hidden;
}

.tracks-table thead {
    display: table;
    width: 100%;
    table-layout: fixed;
    line-height: 25px;
}

.tracks-table tbody {
    display: block;
    max-height: 35vh;
    overflow-y: scroll;
    width: 100%;
}

.tracks-table thead tr {
    color: #6b72807d;
}
.tracks-table th{
    font-weight: 500 !important;
}

.tracks-table th,
.tracks-table td {
    padding: 12px 15px;
    text-align: left;

}

.tracks-table tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
    transition: background-color, color 0.4s ease;
    border-bottom: 1px solid #37415179;
    line-height: 27px;
}

/* .tracks-table tbody tr:nth-of-type(even) {
    background-color: #32323d;
} */

.tracks-table tbody tr:hover {
    background-color: #202a372d;
}

.tracks-table tbody .active-track {
    /* background-color: #202a3778 !important; */
    /* background-color: #935dde30 !important; */
    filter: opacity(1) brightness(0.9) grayscale(20%);
    color: var(--text-secondary);
    animation: pulse 2.5s infinite;
}

@keyframes pulse {
    0% {
      background-color: rgba(55, 41, 41, 0.051);
      color: rgba(255, 200, 200, 0.3);
    }
    50% {
      background-color: rgba(255, 100, 255, 0.12);
      color: rgb(200, 153, 217);
    }
    100% {
      background-color: rgba(55, 41, 41, 0.051);
      color: rgba(255, 200, 200, 0.3);
    }
  }

#track-row-play-icon .play-background {
    background: linear-gradient(to right, #de5dbb, #8f096b);
    border-radius: 50%;
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#track-row-play-icon svg{
    cursor: pointer;
    color: white;
}

/* table columns resizing */
.tracks-table td:nth-child(1),
.tracks-table th:nth-child(1) {
    width: 3%;
}

.tracks-table td:nth-child(2),
.tracks-table th:nth-child(2) {
    white-space: nowrap;
    width: 50%;
    overflow: hidden;
}

.tracks-table td:nth-child(3),
.tracks-table th:nth-child(3) {
    white-space: nowrap;
    width: 10%;
}

.tracks-table td:nth-child(4),
.tracks-table th:nth-child(4) {
    white-space: nowrap;
    width: 10%;
}

.tracks-table td:nth-child(5),
.tracks-table th:nth-child(5) {
    white-space: nowrap;
    width: 5%;
}

/* LOADING */
.catalog-loading-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 0;
    gap: 1rem;
}

.catalog-loading-icon span {
    font-size: 1.1rem;
}

.loading-icon {
    width: 40px;
    height: 40px;
    animation: rotate 1s linear infinite
}

/* SCROLLBAR */
/* Custom scrollbar styles */
.tracks-table tbody::-webkit-scrollbar {
    width: 3px;
}

.tracks-table tbody::-webkit-scrollbar-thumb {
    background-color: rgb(146, 133, 133);
}

.tracks-table tbody::-webkit-scrollbar-track {
    background: transparent;
}

/* Ensure scrollbar is visible */
.tracks-table tbody::-webkit-scrollbar:horizontal {
    height: 8px;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* UPLOAD TRACKS ICON */

/* .upload-tracks-icon {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
    border: none;
    border-radius: 10px;
    margin: 30px auto;
    font-weight: bold;
    transition: color, filter, border, background 400ms ease;
    padding: 6px 16px;
    background-color: var(--icon-secondary);
    color: white;
} */

/* .upload-tracks-icon {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
    border: 2px solid;
    border-radius: 10px;
    margin: 30px auto;
    font-weight: bold;
    transition: color, filter, border, background 400ms ease;
    padding: 8px 18px;
    background-color: var(--bg-secondary);
    background-image: linear-gradient(to right, #de5dbb, #8f096b);
    color: transparent;
    background-clip: padding-box;


    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    border-image: linear-gradient(to right, #de5dbb, #8f096b);
    border-image-slice: 1;
    position: relative;
} */
.upload-tracks-icon {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
    border: none;
    border-radius: 10px;
    margin: 30px auto;
    font-weight: bold;
    /* transition: color, filter, border, background 400ms ease; */
    padding: 8px 18px;
    background-color: var(--bg-primary);
    position: relative;
}

.upload-tracks-icon span {
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(to right, #de5dbb, #8f096b);
    position: relative;
    z-index: 10;
    color: white !important;
}

.upload-tracks-icon svg {
   color: var(--icon-secondary)
}

.upload-tracks-icon::after {
    content: '';
    position: absolute;
    height: 107%;
    width: 102%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    margin: 30px auto;
    right: -2px;
    background: linear-gradient(to right, #de5dbb, #8f096b);
    z-index: -1;
}

.upload-tracks-icon:hover span,
.upload-tracks-icon:hover svg {
    filter: brightness(1.2);
}

/* AUDIO PLAYER */

.audio-player-container {
    /* position: fixed;
    width: calc(100% - 22em); */
    position: relative;
    width: calc(100% - 16em);
    bottom: 0;
    margin-bottom: 10px;
    align-self: center;
    margin: 0 auto 0 !important;
    background-color: #11182777;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    max-height: 30vh;
}

.title-x-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 0;
    margin-bottom: 10px;
    border-radius: 10px 10px 0px 0px;
}

#audio-player-track-title {
    padding: 15px 4px;
    margin-left: 20px;
    /* font-size: 0.8rem; */
    height: min-content;
    /* color: var(--text-secondary); */
    color: rgb(200, 153, 217);
    /* letter-spacing: 0.15ch; */
}

.close-audio-player-x {
    cursor: pointer;
    padding: 15px;
    text-align: right;
    /* justify-self: center; */
}

.close-audio-player-x:hover {
    filter: brightness(0.7);
}

#waveform {
    margin: 0 20px;

}

.player-controls {
    display: flex;
    justify-items: center;
    align-items: center;
    margin: 10px 20px;
    gap: 20px;
    padding: 5px 0 20px;
}

.player-controls .play-background {
    background: linear-gradient(to right, #de5dbb, #8f096b);
    border-radius: 50%;
    height: 45px;
    width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.player-controls #player-playpause {
    display: flex;
    align-items: center;
    justify-content: center;
}
.player-controls #player-timeline {
    /* color: #616875; */
    color:rgb(200, 153, 217);
}

/* TRACK MENU */

#track-menu-icon {
    border-radius: 50%;
    cursor: pointer;
}

.track-options-container {
    overflow: hidden;
    background-color: #53545d;
    border-radius: 4px;
    flex-direction: column;
    box-shadow: 4px 4px 4px 2px black;
}

.track-options-container div {
    width: 100%;
    padding: 12px;
    border-bottom: 1px solid #3a3c45;
    display: inherit;
    align-items: center;
    gap: 8px;
}

.track-options-container div:hover {
    background-color: #737581 !important;
}

/* RENAME TRACK MODAL */
#rename-track-modal-content {
    height: 100%;
    background-color: var(--bg-primary);
    color: var(--text-secondary);
    padding: 20px;
    width: 400px;
    box-shadow: 2px 1px 5px black;
    border-radius: 4px;
}

#rename-track-modal-content h4 {
    font-weight: 200;
    margin: 0;
    padding: 10px;
}

#rename-track-modal-content input {
    width: 100%;
    border: none;
    background-color: transparent;
    color: var(--text-secondary);
    font-size: 1rem;
    outline: none;
}

#rename-track-modal-content legend {
    color: var(--text-primary);
    font-size: 0.7rem;
}

#rename-track-modal-content fieldset {
    border: 1px solid var(--text-primary);
}

#rename-track-modal-content fieldset:focus-within {
    border: 1px solid var(--icon-secondary);
}

#rename-track-modal-content fieldset:focus-within legend {
    color: var(--icon-secondary);
}


.cancel-rename-buttons {
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 10px;
}

#rename-modal-cancel-button {
    border: none;
    background: transparent;
    border-radius: 4px;
    padding: 7px 13px;
    color: var(--text-secondary);
}

#rename-modal-cancel-button:hover {
    color: var(--text-secondary);
    cursor: pointer;
    background: #343440;
}

#rename-button {
    border-radius: 4px;
    padding: 7px 13px;
    border: none;
    background-color: var(--icon-secondary);
    filter: grayscale(20%) brightness(0.9);
    transition: filter 200ms ease;
    box-shadow: 2px 1px 3px 1px;
    color: black;
}

#rename-button:hover {
    filter: grayscale(0%) brightness(1);
    cursor: pointer;
}
