#catalog-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    position: fixed;
    margin: 0;
    font-family: inherit;
    color: var(--text-primary);
    background-color: var(--bg-secondary)
}
.page-title-container {
    background-color: #6b6977;
    color: white;
    width: 100%;
    max-height: min-content;
    /* box-shadow: -4px 5px 6px rgb(209, 202, 202); */
    margin-bottom: 3rem;
}
.page-title-container p{
    margin: 0.6rem 8rem;
    font-size: 1.5rem;
}


/* TRACK TABLE */

.tracks-table {
    background-color: var(--bg-primary);
    margin: 20px auto!important;
    width: 80%;
    border-collapse: collapse;
    font-size: 1em;
    text-align: left;
    border-radius: 4px;
    overflow: hidden;
}

.tracks-table thead tr {
    background-color: #6b6977!important;
    color: white;
    font-size: 0.6rem;
}

.tracks-table th, .tracks-table td {
    padding: 12px 15px;
}

.tracks-table tbody tr {
    transition: background-color, color 0.4s ease;
}

.tracks-table tbody tr:nth-of-type(even) {
    background-color: #32323d;

}

.tracks-table tbody tr:hover {
    /* background-color: #444453; */
    color: var(--text-secondary);
}

.tracks-table tbody .active-track {
    background-color: var(--icon-secondary) !important;
    /* background-color: #c800c8 !important; */
        /* filter: grayscale(10%) opacity(0.9); */
        color: black !important;
}


.loading-icon {
    width: 40px;
    height: 40px;
    animation: rotate 1s linear infinite
}

@keyframes rotate {
    0% {
        transform: rotate(0deg); /* Start at 0 degrees */
    }
    100% {
        transform: rotate(360deg); /* Rotate to 360 degrees */
    }
}


.upload-tracks-icon {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
    border: 1px solid lightgray;
    border-radius: 4px;
    margin: 10px auto;
    filter: grayscale(30%) opacity(0.7);
    transition: color, filter, background 400ms ease;
    padding: 6px 16px;
}

.upload-tracks-icon:hover {
    background-color: var(--bg-primary);
    color: var(--text-primary);
    filter: grayscale(0%) opacity(1)
}

/* AUDIO PLAYER */

.audio-player-container {
    position: fixed;
    bottom: 0;
    margin-bottom: 10px;
    /* left: 20rem;
    min-width: 60vw; */
    align-self: center;
    margin: 0 auto 0 !important;
    width: 70%;
    background-color: var(--bg-primary);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.close-audio-player-x {
    background-color: #6b6977;
    box-shadow: 0px 1px 3px black;
    margin-bottom: 10px;
    padding: 0 10px;
    text-align: right;
    justify-self: center;
}

#waveform {
    margin: 0 20px;
    background-color: black;
    /* background-color: var(--bg-secondary); */
}

.player-controls {
    display: flex;
    justify-items: center;
    align-items: center;
    margin: 10px 20px;
    gap: 10px;
}
