#background-for-app-in-card-details {
    height: 100vh;
    width: 100vw;
    color: white;
    position: fixed;
    overflow: scroll;
    display: flex;
    background-size: 100% 100% !important;
    background-position: center !important;
}

#card-details-container {
    min-width: 100%;
}

#card-details-container section:not(:first-child)  {
    margin: 0 auto;
    padding: 0 calc(100vw - 85vw);
    width: 100%;
}

img {
    image-rendering: auto;
    image-rendering: crisp-edges;
}
#card-banner .public-image-container{

}

#card-banner img {
    width: 100% !important;
    max-height: 500px;
    object-fit: cover;
    margin-bottom: 1rem;
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 70%, rgba(0, 0, 0, 0) 100%);
    -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 70%, rgba(0, 0, 0, 0) 100%);

}


/* Image Effect for suggesting editing */
.image-container {
    position: relative;
    /* overflow: hidden; */
}

.image-container img {
    display: block;
    width: 100%;
    height: auto;
    transition: all 0.3s ease;
}

.image-container:hover {
    filter: grayscale(100%);
    cursor: pointer;
}


.image-container::after {
    margin: 0;
    padding: 0;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s ease;
}

.image-container .pencil-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    opacity: 0;
    transition: opacity 0.3s ease;
    filter: brightness(2);
}

.image-container:hover::after {
    opacity: 1;
}

.image-container:hover .pencil-icon {
    opacity: 1;
    z-index: 100;
}

/* end image effect for suggestin editing */



#card-profilepic-container{
    margin-right: 2em;
}

#card-user-info {
    display: flex;
    height: 8em;
    position: relative;
    bottom: 40px;
}

#card-user-info img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    position: relative;
    bottom: 30px;
    z-index: 99;
    box-shadow: 0 4px 6px rgba(0, 0, 0,1);
    object-fit: cover;
}

#top-info-container {
    padding: 0;
    margin: 0;
    position: relative;
    bottom: 10px;
}
#name-title-links-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
#name-title-links-container a {
    font-size: 1.8em;
    margin: 0 2px;
    cursor: pointer;
    position: relative;
    bottom: 3px;
}

#job-title,
#contact-info {
    margin: 0;
}

#users-name {
    margin-bottom: 2px;
    padding: 0;
}
#job-title {
    margin-bottom: 1em;
    padding: 0px;

}

#contact-info {
    display: flex;
    gap: 0.5em;
    align-items: center;
    padding: 0;
    margin-top: 10px;
    line-height: 1em;
    height: 1em !important;
    white-space: nowrap;
}


#card-user-info #contact-info a {
    margin: 0;
    padding: 1px;
    text-decoration: none;
}

#card-user-info #contact-info p{
    vertical-align: center;
    font-size: 2em;
    line-height: 5px;
}
#card-title-and-description-container{
    width: 50vw;
}

#card-title {
    font-style: italic;
    font-size: 1em;
    /* margin-top: 2em; */
    padding: 0 !important;
    margin: 0 !important;
    white-space: nowrap;
    width: min-content !important;

}

#card-description {
    margin-top: 0.3em;
    padding: 0;
    text-align: left;
}
/* #card-title,
#card-description {

} */
#now-playing {
    font-size: 0.7em;
}

/* AUDOPLAYER */

.card-player-controls {
    display: flex;
    justify-content: flex-start;
    gap:10px;
    align-items: center;
    padding-top: 15px;
}
#card-details-waveform-container{
    display: flex;
    align-items: center;
}
#card-waveform {
    width: 100%;
}


#tracklist-container {
    margin: 15px auto;
}

.card-track-row {
    padding: 0.8em;
    display: flex;
    flex-wrap: nowrap;
    /* border-bottom: 0.1px dotted; */
    justify-content: space-between;
}

.track-row-play-and-title-container,
.track-row-duration-delete-container{
    display: flex;
    gap: 1em;
}

#card-detail-no-tracks-warning {
    display: flex;
    font-weight: bold;
    color: gray
}

#trackrow-play-button:hover,
#card-player-playpause:hover {
    filter: brightness(3);
    cursor:pointer;
}

#card-audioplayer{
    margin-top: 4em !important;
}

#add-tracks-button-container{
    display: flex !important;
    justify-content: center !important;
    align-items: flex-start;
    /* width: fit-content; */
}
.add-tracks-button {
    /* display: block; */
    background-color: var(--bg-primary) !important;
    color: white !important;
    border-radius: 20px !important;
    font-weight: bold;
    width: fit-content;
    margin: 0;
    justify-self: flex-start;
}



/* HEADSHOT & BIO */

 #card-headshot-container {
    max-width: 20vw;
    min-width: 20vw;
    max-height: 30vw;
    border-radius: 16px;
    height: 100%;
    overflow: hidden;
}

#card-headshot-container .image-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}
#card-headshot-container .public-image-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

#card-headshot-container img {
    height: 100%;
    width: 45vw;
    max-height: 50vh;
    object-fit: cover;
}

#card-bio {
    display: flex;
    gap: 2em;
    align-items: flex-start;
    margin-top: 4em;
}
#card-bio-text{
    line-height: 1.4em;
}
#card-bio h2,
#card-bio h3 {
    font-weight: 100;
}

#card-bio #biography-title {
    margin: 0;
}



#preview-publish-button {
    display: flex;
    border: 1px solid gray;
    padding: 11px 15px;
    background-color: var(--bg-primary) !important;
    color: var(--text-primary);
    border-radius: 20px;
    font-weight: bold;
    cursor: pointer;
    margin: 3em auto !important;
    align-items: center;
    justify-content: center;
    gap: 2px;
}

#contact-info-component {
    display: flex;
    flex-direction: column!important;
}

#footer-externallinks-container {
    display: flex;
    justify-content: center;
    margin: 0.7em auto;
    font-size: 2em;
}

.external-link-icon {
    margin: 0 4px !important;
}
#contact-info-container {
    width: max-content;
    white-space: nowrap;
}

/* footer */
#card-details-footer{
    height: 50px !important;
    /* background-color: gray; */
    display: flex;
    justify-content: center;
    font-size: 0.6em;
    color: gray;
    margin-top: 7em;
}

/* EDITABLE FIELDS */

.editable-field-container {
    position: relative;
    display: flex;
    align-items: center !important;
}

.pencil-icon-on-field {
    display: none;
    margin-left: 5px;
}


.editable-field-container:hover .pencil-icon-on-field {
    display: inline;
}

.editable-field {
    transition: all 100ms ease;
    width: fit-content;
}

.editable-field:hover {
    cursor: pointer;
    filter: opacity(0.4)
}

.editable-field-input,
.editable-field-textarea {
    border: none;
    background: transparent;
    width: 100%;
}



.editable-field-textarea {
    width: 45vw;
    min-height: 200px;
    height: 100%;
    position: relative;
    top:2em;
    margin-bottom: 3em;
    font-family: inherit;
    font-size: 1em;
}

#editable-textarea-buttons {
    display: flex;
    justify-content: flex-end;
    gap: 0.5em;
}

#editable-textarea-buttons button{
    border: 1px solid gray;
    padding: 5px 10px;
    background-color: var(--bg-primary) !important;
    /* color: white !important; */
    color: var(--text-primary);
    border-radius: 20px;
    font-weight: bold;
    cursor: pointer;
}

#editable-textarea-buttons button:hover{
    filter: brightness(1.5);
}




/* HIDDEN */
.hidden {
    display: none;
}

.hidden:hover {
    display: block;
}

#hidebanner {
    position: relative;
}


/* PUBLISH */

.preview-buttons-container {
    display:  flex;
    justify-content: space-between;
    /* justify-content: space-evenly; */
    align-items: center;
}
#preview-publish-button-container {
    display:  flex;
    justify-content: center;
    align-items: center;
    margin: 0 !important;
}
#publish-button {
    border-radius: 20px;
    margin: 0 !important;
    padding: 10px 20px;
    background-color: var(--icon-secondary);
    color: black;
    border: 2px solid rgb(111, 20, 20);
    height: min-content;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight:bold ;
    gap: 5px
}

#preview-back-arrow-button{
    position: absolute;
    top: 2em;
    left: 2em;
    z-index: 1000;
    cursor: pointer;
    color: rgb(166, 161, 161);
}

#preview-back-arrow-button:hover{
    filter: brightness(2);
}
