#publish-modal-container {
    padding: 2px; /* Border thickness */
    border-radius: 8px; /* Outer border radius */
    display: inline-block; /* Shrink to fit the modal */
    background: var(--linear-background);
}

#publish-modal {
    background-color: var(--bg-primary);
    color: var(--text-secondary);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5em;
    padding: 2em 0;
    width: fit-content;
    border-radius: 8px;
}



#close-modal-x {
    position: relative;
    top: 7px;
    right: 7px;
    text-align: right;
    color: var(--text-primary);
    height: 1em;
    margin: 0 !important;
    padding: 0;
    cursor: pointer;
}

#publish-modal-title {
    margin: 0 !important;
}

#publish-modal-title-subtitle {
    margin: 0;
    padding: 0;
}

#sub-title-and-view-site-button {
    display: flex;
}

#sub-title-and-view-site-button button {
    background: transparent;
    border: 1px solid gray;
    border-radius: 18px;
    padding: 6px 15px;
    color: var(--text-primary);
}

#copy-to-clipboard-and-address {
    display: flex;
    align-items: center;
    background-color: rgba(62, 60, 60, 0.578);
    border-radius: 10px;
    height: 2em;
    padding: 0 8px;
    gap: 6px;
    width: 60%;

}

#publish-modal-icon-container {
    display: flex;
    align-items: center;
    min-width: 20px;
}

#copy-to-clipboard-and-address p {
    max-width: 30vw;
    white-space: nowrap;
    overflow: hidden;
    background-color: var(--bg-primary);
    font-size: 0.8em;
    text-overflow: ellipsis;
}

#publish-modal-buttons {
    display: flex;
    width: 60%;
    justify-content: center !important;
    align-items: center;
    gap: 3em;
    /* padding: 1em 0 0; */
}
#publish-modal-buttons #done-button {
   width: 93px
}
#publish-modal-buttons button {
    background: transparent;
    border: 1px solid gray;
    border-radius: 18px;
    padding: 6px 15px;
    color: var(--text-primary);
    cursor: pointer;
    transition: all 0.5s ease;
    white-space: nowrap;
}

#publish-modal-buttons button:hover {
    filter: brightness(2)
}
