#cards-container {
    display: flex;
    flex-direction: column;
    width: calc(100% -10em);
    height: 100vh;
    /* height: 90vh; */
    /* position: fixed; */
    margin: 0;
    font-family: inherit;
    color: var(--text-primary);
    background-color: var(--bg-primary);
}


#cards-container .page-title-container .upload-icon {
    margin: 0 0em 0 8em !important;
}

/* CARDS TABLE */

.cards-table {
    margin: 0px auto !important;
    width: 80%;
    border-collapse: collapse;
    font-size: 0.9em;
    text-align: left;
    border-radius: 0px 4px 0px 4px;
    table-layout: fixed;
    overflow: hidden;
}

/* copying tracktable */
.cards-table thead {
    display: table;
    width: 100%;
    table-layout: fixed;
    line-height: 25px;
}

.cards-table tbody {
    display: block;
    max-height: 30vh;
    overflow-y: scroll;
    width: 100%;
}

.cards-table thead tr {
    color: #6b72807d;
}

.cards-table th {
    font-weight: 500 !important;
}

.cards-table th,
.cards-table td {
    padding: 12px 15px;
    text-align: left;
    text-overflow: ellipsis;
}

.cards-table tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
    transition: background-color, color 0.4s ease;
    border-bottom: 1px solid #37415179;
    line-height: 17px;
}


.cards-table tbody tr:hover {
    background-color: #202a372d;
}

/* table columns resizing */
.cards-table td:nth-child(1),
.cards-table th:nth-child(1) {
    width: 3%;

}

.cards-table td:nth-child(2),
.cards-table th:nth-child(2) {
    white-space: nowrap;
    width: 10%;
    overflow: hidden;
    padding-left: 25px;
}

.cards-table td:nth-child(3),
.cards-table th:nth-child(3) {
    white-space: nowrap;
    width: 5%;
}

.cards-table td:nth-child(4),
.cards-table th:nth-child(4) {
    white-space: nowrap;
    width: 6%;
}

.cards-table td:nth-child(5),
.cards-table th:nth-child(5) {
    white-space: nowrap;
    width: 6%;
}

.cards-table td:nth-child(6),
.cards-table th:nth-child(6) {
    white-space: nowrap;
    width: 3%;
}

.cards-table td:nth-child(7),
.cards-table th:nth-child(7) {
    white-space: nowrap;
    width: 3%;
}

/* SCROLLBAR FOR TABLE */
.cards-table tbody::-webkit-scrollbar {
    width: 3px;
}

.cards-table tbody::-webkit-scrollbar-thumb {
    background-color: rgb(146, 133, 133);
}

.cards-table tbody::-webkit-scrollbar-track {
    background: transparent;
}

.cards-table tbody::-webkit-scrollbar:horizontal {
    height: 8px;
}
/* end */


/* CARD ICONS */

.cards-table svg {
    scale: 1.2;
    transition: color 0.4s ease;
}

.cards-table #navlink-to-public-url:hover {
    color: var(--icon-secondary);
}

.cards-table tbody tr {
    transition: background-color, color 0.4s ease;
}


.cards-table tbody .card-link {
    color: var(--text-secondary);
}

.cards-table #track-menu-icon {
    cursor: pointer;
}
.cards-table #track-menu-icon:hover {
    filter: brightness(1.3);
}
