/* RENAME TRACK MODAL */
#title-modal-content {
    height: 100%;
    /* background-color: var(--bg-secondary); */
    background-color: #0d1217;
    color: var(--text-secondary);
    padding: 25px;
    width: 400px;
    box-shadow: 2px 1px 5px black;
    border-radius: 20px;
    border: 0.4px solid rgba(96, 95, 95, 0.602);
}

#title-modal-content h4 {
    margin: 0;
    margin-bottom: 25px;

}

#title-modal-content input {
    width: 100%;
    border: none;
    background-color: transparent;
    color: var(--text-secondary);
    font-size: 1rem;
    outline: none;
}

#title-modal-content legend {
    color: gray;
    font-size: 0.7rem;
}

#title-modal-content fieldset {
    border: 1px solid gray;
    border-radius: 10px;
}

#title-modal-content fieldset:focus-within {
    border: 1px solid var(--icon-secondary);
}

#title-modal-content fieldset:focus-within legend {
    color: var(--icon-secondary);
}


.title-modal-buttons {
    /* padding: 10px; */
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 20px;
}

#title-modal-cancel-button {
    font-size: 1em;
    border: none;
    background: transparent;
    border-radius: 4px;
    padding: 7px 13px;
    color: var(--text-primary);
    transition: all 0.5s ease;
    border-radius: 10px;
}

#title-modal-cancel-button:hover {
    color: var(--text-secondary);
    cursor: pointer;
    background: #3434404e;
}

#ok-button {
    font-size: 1em;
    border-radius: 10px;
    padding: 12px 18px;
    border: none;
    background-color: var(--icon-secondary);
    filter: grayscale(20%) brightness(0.9);
    transition: filter 200ms ease;
    /* box-shadow: 2px 1px 3px 1px; */
    color: whihte;
    transition: all 0.5s ease;
    /* background: linear-gradient(to right, #de5dbb, #8f096b); */
}

#ok-button:hover {
    filter: grayscale(0%) brightness(1);
    cursor: pointer;
}
